<div class="row">
  <div class="col text-right">
    <button
    routerLink="addusers"
    class="btn btn-primary">Add User</button>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"
      [ngClass]="{
        active:selectedId === user.userid
      }"

      (click)="onuserselect(user)"
      [routerLink]="[user.userid]"
      [queryParams]="{userrole:user.userrole}"
      *ngFor="let user of userinfo">
       {{user.username}}
      </li>
    </ul>
  </div>

  <div class="col-md-4">
  <router-outlet></router-outlet>
  </div>
</div>
