<div class="card">
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onAdduser()">
      <div class="form-group">
        <label for="username">User Name</label>
        <input
        formControlName ="username"
        type="text" id="username" class="form-control">
      </div>

      <div class="form-group">
        <label for="userrole">User Role</label>
        <select
        formControlName="userrole"
        type="text" id="userrole" class="form-control">
        <option value="candidate">Candidate</option>
        <option value="Admin">Admin</option>
          </select>
      </div>

      <button
      *ngIf="!isInEditmode"
      type="submit" mat-raised-button color="primary" class="mr-3">Add user</button>


      <button
      (click)="onupdateuser()"
      *ngIf="isInEditmode"
      [disabled]="updatedbtnFlag"
      type="button" mat-raised-button color="primary">Update user</button>

    </form>
  </div>
</div>
